.header {
  background: linear-gradient(to bottom, black, darkgrey);
}

.menu {
  background-color: darkgrey;
  color: turquoise;
}

.menu a:hover {
  color: turquoise;
}

.button:hover {
  background-color: turquoise;
}

.contact-button {
  background-color: red;
}

.call-to-action {
  background-color: red;
}